.container{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.mydiv{
    font-family: 'Belanosima', sans-serif;
    background-color: white;
    border: 5px solid #ccc;
    outline: 5px solid white;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}
.mydiv::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    top: 0;
    left: 0;
    transition: 0.5s;
    z-index: -1;
}

.mydiv:hover::after{
    background-color: #111;
}

.mydiv:hover{
    border: 5px solid #111;

}
.mydiv i{
    margin-left: 10px;
    transition: 1s;
}
.mydiv:hover i{
    transform: rotate(360deg);
}